@use '../mixins/responsive' as *;

.mobile-tablet_screen {
    @include breakpoint(md) {
        display: none;
    }
}

.desktop-only {
    @include breakpoint(only-xl) {
        display: none;
    }
}


.svg__container {
    svg {
       width: 100%; 
    }
}

.img-block {
    display: block;

    &__center {
        margin:  0 auto;
    }
}