<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {title: homepage.meta_title[0].text, description: homepage.meta_description[0].text }); %>
    </head>

    <body>

        <header>
            <%- include('../partials/navigation', {navigation, currentPath}); %>
        </header>

        <main>
            
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>