


@font-face {
    font-family: 'Prestage';
    src: url('../../../fonts/chirac/Prestage-Regular.woff2') format('woff2'),
      url('../../../fonts/chirac/Prestage-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family:'Abel';
    src: url('../../../fonts/chirac/Abel-Regular.woff2') format('woff2'),
      url('../../../fonts/chirac/Abel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SquarePeg';
    src: url('../../../fonts/chirac/SquarePeg-Regular.woff2') format('woff2'),
      url('../../../fonts/chirac/SquarePeg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lovelyn';
    src: url('../../../fonts/chirac/Lovelyn.woff2') format('woff2'),
      url('../../../fonts/chirac/Lovelyn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

