@use './fonts.scss';
@use '../../mixins/responsive.scss' as *;

// Colors
$c-light: #FFFBF4;
$c-red: #7F0815;
$c-gold: #BD9E77;
$c-dark-gold: #8C7040;
$c-black: #000000;

$c-dot: $c-light;
$c-dot-remaining: $c-dark-gold;
$c-dot-active: $c-gold;

// Fonts
$f-prestage: 'Prestage', serif;
$f-abel: 'Abel', sans-serif;
$f-square_peg: 'SquarePeg', serif;
$f-lovelyn: 'Lovelyn', sans-serif;

// Radius
$r-md: 10px;

// Sizes
$widget-width: 35rem;
$pad-widget-side: 3rem;
$citation-width: 25rem;
$squareCta-size: 5rem;
$responseCta-size: 4rem;
$left-margin-quiz: 5vw;



body {
    display: flex;
    flex-direction: column;
    font-family: $f-prestage;
    background-color: $c-light;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} 


.chirac-project {
    position: relative;
    max-width: 160rem;
    margin: 0 auto;

    // HEADER
    header {
        padding: 2.5rem;

        .page-title {
            width: fit-content;

            h1 {
                font-size: 6.5rem;
            }

            div.subtitle {
                font-family: $f-abel;
                
                span {
                    display: inline-block;
                    
                    &:first-child {
                        margin-left: 5px;
                        font-size: 2.5rem;
                        letter-spacing: 2.5rem;
                        color: $c-red;
                        text-align: center;
                    }

                    &:last-child {
                        display: none;
                    }
                }
            }

        }
    }

    // MAIN
    main  {
        position: relative;
        flex: 1;

        .question__image,
        .content-section {
            position: relative;
            width: 50%;
        }

        .svg__container,
        .question__image  {
            align-content: end;

            svg {
                opacity: .2;
                height: 100%;
            }
        }

        .content-section {
            align-content: center;

            /* Citations */
            ul.citations,
            .questions-progress {
                position: absolute;
                
                &::before {
                    content: '';
                    position: absolute;
                    top: -450px;
                    left: 0;
                    height: 430px;
                    width: 1px;
                    background-color: $c-red;
                }
                
            }

            /* Widget */
            .widget {
                &__container {
                    position: relative;
                    padding: 12rem $pad-widget-side 5rem;
                    
                    color: $c-light;
                    background-color: $c-red;
                    border-radius: $r-md;
                }

                &__logo-container,
                &__top-container {
                    position: absolute;
                    top: 0;
                }

                &__description,
                &__question {
                    padding: 2.5rem;
                    background-color: $c-gold;
                    border: 5px solid $c-light;
                    border-radius: $r-md;
                    line-height: 2.4rem;
                }

                &__quiz-title {
                    font-family: $f-prestage;
                    font-size: 2.4rem;
                    color: $c-gold;
                    text-align: center;
                }

                
            }

            /* Social medias */
            .social-medias__list {
                display: flex;
                justify-content: space-around;
                margin: 10px;

                a { display: block; }
            }
        }
    }

    
    /* -------------------- 
            HOME
    ---------------------- */
    &__home {
        header {}

        main {
            
            .content-section {

                .citations {
                    min-width: $citation-width;
                    left: 0;

                    

                    &__item {
                        position: absolute;
                        opacity: 0;
                        color: $c-red;
    
                        .citation {
                            &__pagination {
                                .index-container { overflow: hidden; }
                                
                                .index {
                                    display: inline-block;
                                    transform: translateY(100%);
                                    transition: transform .4s ease-in;
                                }
                
                                .length {
                                    font-size: 1rem;
                                }
    
                                .duration {
                                    position: relative;
                                    margin: 10px 0;
                                    width: 75px;
                                    height: 1px;
                                    background-color: rgba($color: $c-gold, $alpha: .5);
    
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height: 1px;
                                        width: 100%;
                                        background-color: $c-dark-gold;
                                        transform: scale(0);
                                        transition: transform 10s linear;
                                    }
                                }
                            }
    
                            &__text {
                                opacity: 0;
                                font-family: $f-square_peg;
                                font-size: 2rem;
                                transition: opacity 1s ease-in;
                            }
    
                        }
                    }
    
                    // Active
                    &__item.active {
                        opacity: 1;
    
                        .citation {
                            &__pagination {
                                .index { transform: translateY(0); }
    
                                .duration::before {
                                    transform: scale(1);
                                    transform-origin: left;
                                }
                            }
    
                            &__text {
                                opacity: 1;
                            }
                        }
                    }
    
                    // Fade Out
                    &__item.out {
                        .citation {
                            &__pagination {
                                .index { 
                                    transition-delay: .6s;
                                    transform: translateY(-100%);
                                }
                            }
    
                            &__text {
                                opacity: 0;
                            }
                        }
                    }
                }

                /* Widget */
                .widget {

                    &__container {
                        font-family: $f-abel;
                    }

                    &__quiz-title {
                        margin: 25px 0;
                    }

                    &__cta-section {
                        text-align: center;
                        
                        .cta_quiz {
                            display: block;
                            padding: 10px;
                            color: $c-light;
                            background-color: $c-red;
                        }
                    }
                }

            }
        }
    }


    /* -------------------- 
            QUIZ
    ---------------------- */
    &__quiz {

        header {
            .page-title { margin-left: auto; }
        }

        main {
            // Answers Common style
            .question__answers-list,
            .mobile-quiz__answers-list {
                li.answer-item {
                    cursor: pointer;
                    position: relative;
                    margin: 1.5rem 0;
                    padding-left: 6rem;
                    font-size: 2rem;
                    white-space: nowrap;
                    line-height: $responseCta-size;

                    &::before {
                        content: attr(data-letter);
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: $responseCta-size;
                        text-align: center;
                        line-height: $responseCta-size;
                        color: $c-light;
                        background-color: $c-gold;
                        outline: 5px solid $c-light;
                        border-radius: $r-md;
                    }
                }
            }

            .question__image {
                img {
                    width: 100%;
                }
            }

            .content-section {
               
                /* Progress */
                .questions-progress {
                    left: 100%;
                    white-space: nowrap;
                    font-family: $f-abel;
                    color: $c-red;

                    span {
                        font-family: $f-lovelyn;

                        &:first-child {font-size: 4rem; }
                    }
                }

                /* Widget */
                .widget {

                    /* Joker/Countdown */
                    &__top-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                        left: 0;
                        transform: translateY(-50%);

                        /* Jokers list */
                        .jokers-list {
                            position: relative;
                            display: flex;
                            gap: 2.5rem;

                            .joker {
                                &__item {
                                    width: $squareCta-size;
                                    height: $squareCta-size;
                                    align-content: center;
                                    text-align: center;
                                    background-color: $c-red;
                                    outline: 5px solid $c-light;
                                    border-radius: $r-md;

                                    &>img {
                                        display: inline-block;
                                        margin: 0 auto;
                                        width: 60%;
                                    }

                                    

                                    .joker__description {
                                        position: absolute;
                                        bottom: calc(-100% - 25px);
                                        left: $pad-widget-side;
                                        width: calc($widget-width - $pad-widget-side);
                                        text-align: start;
                                        align-content: center;
                                        background-color: $c-red;
                                        transition: opacity .2s linear;
                                        pointer-events: none;


                                        .joker__name {
                                            display: inline-block;
                                            margin-left: 5px;
                                            font-size: 1.8rem;
                                            color: $c-gold;
                                        }

                                        .joker__explanation {
                                            margin-top: 5px;
                                            margin-left: 50px;
                                            font-family: $f-abel;
                                            font-size: 1.4rem;
                                        }
                                    }


                                    &.used {
                                        pointer-events: none;
                
                                        img {
                                            opacity: .3;
                                        }
                                        
                                    }
                                }
                                
                            }
                        }

                        /* Countdown */
                        .quiz_chrono {
                            border-radius: 100%;
                            
                            

                            #countdown {
                                margin: 0 auto;
                                width: 120px;
                                background-color: $c-light;
                                border-radius: 100%;
                                padding: 5px;
                                

                                .part {
                                    aspect-ratio: 1/1;
                                    display: grid;
                                    place-items: center;
                                }

                                /* Remaining Num */
                                .remaining {
                                    display: grid;
                                    grid-area: 1/1;
                                    height: 85%;
                                    width: 85%;
                                    background-color: $c-red;
                                    align-content: center;
                                    border-radius: 100%;
                                    color: $c-light;
                                    text-align: center;
                                    font-size: 4rem;
                                }

                                /* Dots */
                                .dot-container {
                                    grid-area: 1/1;
                                    height: 100%;
                                    width: 4%;
                                    rotate: calc(360deg / var(--dots) * var(--dot-idx));

                                    .dot {
                                        width: 50%;
                                        aspect-ratio: 1/2;
                                        background-color: $c-dot;
                                        border-radius: 5px;
                                        transition: background-color .25s;
                                        &[data-active=true]{
                                        background-color: $c-dot-remaining;
                                        &[data-lastactive=true]{
                                            background-color: $c-dot-active;
                                        }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &__quiz-title {
                        padding-top: 2.5rem;
                        border-top: 1px solid $c-gold;
                    }

                    /* Questions */
                    &__question {
                        font-size: 2rem;
                        font-family: $f-abel;
                    }

                    /* Earnings pyramids / Answers / Errors */
                    &__bottom-container {
                        display: flex;

                        /* Earnings pyramids */
                        .gains-list {
                            display: flex;
                            flex-direction: column-reverse;
                            justify-content: center;
                            gap: 20px;
                            min-width: 30rem;

                            li.gain {
                                position: relative;
                                
                                font-size: 2.7rem;

                                &.current {  
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        left: 0 - $pad-widget-side;
                                        width: 0;
                                        height: 0;
                                        transform: translateY(-50%);
                                        // Create the triangle
                                        border-top: 5px solid transparent;
                                        border-bottom: 5px solid transparent;
                                        border-left: 10px solid $c-light;
                                    }
                                }

                                &.won {
                                    color: #BD9E77;
                                }
                            }
                        }

                        /* Answers */
                        .question__answers-list {

                            li.answer-item {
                                color: $c-gold;
                            }
                        }
                    }
                }

            }
        }
    }
}

/** -----------------------------
    small Height (Iphone SE)
------------------------------ **/
@include breakpoint(only-sm-height) {
    
    .chirac-project {

        &__quiz {
            main {
                .content-section {
                    .widget {
                        &__btn {
                            top: -75px;
                        }

                        &__container {
                            padding-bottom: 2rem;
                        }

                        &__top-container {
                            .jokers-list {
                                .joker {
                                    &__item {
                                        width: 4rem;
                                        height: 4rem;

                                        @for $i from 1 through 3 {
                                            $bottomTranslate: calc(#{$i} * -60px);
            
                                            &:nth-child(#{$i}) {
                                                .joker__description {bottom: calc($bottomTranslate + -40px);}
                                            }
                                        }
                                    }
                                    &__description img {
                                        width: 25px;
                                    }
                                }
                            }

                            .quiz_chrono {
                                transform: translateY(-10%);
                            }
                        }

                        &__quiz-title {
                            margin-bottom: 2.5rem;
                        }

                        &__bottom-container {
                            .gains-list {
                                gap: 10px;

                                li.gain { font-size: 2.4rem;}
                            }
                        }
                    }
                }
            }
        }
    }
}

/** -----------------------------
    Only Mobile
----------------------------- **/
@include breakpoint(only-md) {
    .chirac-project {

        // HOME
        &__home {
            main {
                .svg__container {
                    margin: 5vh auto 0;
                    width: 80%;
                }

                .content-section {
                    position: absolute;
                    align-content: end;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    padding: 0;

                    /* Citations */
                    ul.citations {
                        position: relative;
                        min-height: 100px;

                        &__item {
                            bottom: 0;
                        }

                        &::before {
                            top: auto;
                            height: 25vh;
                            bottom: 100%;
                        }
                    }

                    /* Widget */
                    .widget {
                        &__description {
                            position: fixed;
                            top: 50%;
                            width: calc(100% - 60px);
                            left: 30px;
                            border: none;
                            opacity: .1;  
                        }

                        &_container {
                            padding: 0;
                            background-color: transparent;
                        }

                        &__logo-container { position: fixed;}
                    }

                    /* Social Medias */
                    .social-medias__list {
                        margin: 0;
                        position: absolute;
                        left: 0;
                        top: 5vh;
                        flex-direction: column;
                        gap: 2.5rem;

                        img {
                            max-width: 25px;
                        }
                    }

                }
            }
        }

        // QUIZ
        &__quiz {
            main {
                padding-bottom: 5rem;

                .mobile-quiz {
                    position: relative;
                    padding: 2.5rem;
                    z-index: 2;

                    &__question {
                        font-size: 3.4rem;
                    }

                    &__answers-list {
                        margin: 5rem 0;

                        li.answer-item {
                            margin: 2.5rem;
                            color: $c-light;
                            background-color: $c-gold;
                            border-radius: $r-md;
                        }
                    }
                }

                .question__image {
                    position: absolute;
                    bottom: 5rem;
                    width: 100%;
                }

                .content-section {
                    position: fixed;
                    width: 100vw;
                    left: 0;
                    bottom: 0;
                    z-index: 2;
                    transition: transform .3s ease-in-out;
                    transform: translateY(90%);

                    &.open {
                        transform: translateY(0);

                        .widget__btn {
                            transform: rotate(45deg);
                        }

                        .social-medias__list {
                            transform: translateY(0);
                        }
                    }

                    .widget__btn {
                        position: absolute;
                        z-index: 3;
                        top: -100px;
                        left: 25px;
                        font-family: $f-abel;
                        font-size: 3rem;
                        color: $c-light;
                        line-height: 40px;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        border-radius: 100%;
                        background-color: $c-red;
                        transition: transform .3s linear;
                    }

                    /* Widget */
                    .widget {
                        &__top-container {
                            .jokers-list .joker {
                                &__item {
                                    @for $i from 1 through 3 {
                                        $bottomTranslate: calc(#{$i} * -60px);
        
                                        &:nth-child(#{$i}) {
                                            .joker__description {bottom: calc($bottomTranslate + -50px);}
                                        }
                                    }
                                }
                            }
                        }

                        &__quiz-title {
                            margin:  15rem auto 5rem; 
                        }

                        &__question {
                            display: none;
                            position: fixed;
                        }

                        &__bottom-container {
                            .question__answers-list {
                                display: none;
                            }
                        }
                    }

                    /* Social medias */
                    .social-medias__lis {
                        transform: translateY(-100%);
                        transition: transform .3s .2s ease-in-out;
                    }


                }

            }
        }
    }
}


/** --------------------
        Tablet (min: 768px)
-------------------- **/
@include breakpoint(md) {

    .chirac-project {

        // COMMON
        header {
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
        }

        main {
            display: flex;

            .content-section {
                
               .widget__container {
                    max-width: $widget-width;
                } 

                /* Social medias */
                .social-medias__list {
                    max-width: $widget-width;
                    margin-top: 30px;
                }
            } 
        }
        
        // HOME
        &__home {

            main {
                .content-section {
                    
                    .widget {
                        margin-left: calc($citation-width + 2rem);

                        &__logo-container {
                            left: 50%;
                            width: 10rem;
                            height: 10rem;
                            border-radius: 100%;
                            align-content: center;
                            text-align: center;
                            transform: translate(-50%, -50%);
                            background-color: $c-light;
                        }

                        &__description {
                            width: 40rem;
                            transform: translateX(calc(-50% - $pad-widget-side));
                        }

                        &__quiz-title {
                            margin: 50px 0;
                        }

                        &__cta-section {
                            .cta_quiz {
                                position: relative;
                                margin: 50px auto;
                                width: 15rem;
                                color: $c-gold;
                                background-color: $c-red;  

                                // Fake btn
                                &::before {
                                    content: attr(data-label);
                                    display: inline-block;
                                    position: absolute;
                                    padding: 10px;
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    width: 100%;
                                    color: #7F0815;
                                    background-color: #BD9E77;
                                    opacity: 1;
                                    transition: opacity .2s linear;
                                }
        
                                // Decoration Lines
                                .decoration_lines {
                                    position: absolute;
                                    display: inline-block;
                                    height: 100%;
                                    width: 100%;
                                    top: 0;
                                    bottom: 0;
                                    transition: transform .2s cubic-bezier(.82,.19,.58,.74);
        
                                    &.top {
                                        border-top: 1px solid $c-gold;
                                        border-left: 1px solid $c-gold;
                                        left: 0;
                                        transform: translate(-75%, -100%) scaleX(0.25);
                                    }
        
                                    &.bottom {
                                        border-bottom: 1px solid $c-gold;
                                        border-right: 1px solid $c-gold;
                                        right: 0;
                                        transform: translate(75%, 100%) scaleX(0.25);
                                    }
                                }

                                // On Hover
                                &:hover {
                                    &::before { opacity: 0; }
        
                                    .decoration_lines {
                                        &.top,
                                        &.bottom {
                                            transform: translate(0) scaleX(1);
                                        }
                                    }
                                }
                            }

                        }

                    }

                    .social-medias__list {
                        margin-left: calc($citation-width + 2rem);
                    }
                } 
                    
            }
        }

        // QUIZ
        &__quiz {
            main {

                .content-section {

                    /* Widget */
                    .widget {
                        position: relative;
                        z-index: 2;
                        margin-left: 15%;

                        /* Joker/Countdown */
                        &__top-container {
                            justify-content: space-between;

                            .jokers-list {
                                justify-content: flex-end;
                                flex: 2;

                                .joker {
                                    &__item {
                                        .joker__description {
                                            opacity: 0;
                                        } 
                                        
                                        &:hover {
                                            cursor: pointer;
                                         
                                            .joker__description {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }

                            .quiz_chrono {
                                transform: translateX(50%);
                            }
                        }

                        /* Questions */
                        &__question {
                            margin: 50px 0;
                            width: 50rem;
                            transform: translateX(calc(25% - $pad-widget-side));
                        }
                    }

                    /* Social medias */
                    .social-medias__list {
                        margin: 30px 0 0 15%;
                    }

                }

                .question__image {
                    position: fixed;
                    bottom: 0;
                    right: 0;
                    width: 65%;
                }

                

            }
        }
    }
}

/** -----------------------------
    Start desktop (min: 1024px)
----------------------------- **/
@include breakpoint(lg) {
    .chirac-project {
        &__quiz {
            main {
                /* Timeline */
                .timeline {
                    margin-left: 2rem;
                    margin-right: 15rem;

                    &__list {
                        position: relative;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 50%;
                            width: 1px;
                            height: 100%;
                            background-color: $c-gold;
                            z-index: -1;
                        }
                    }

                    &__item {
                        position: relative;
                        padding: 5px;
                        color: $c-red;
                        border-radius: 3px;
                        backdrop-filter: blur(5px);
                    }

                    &__date {
                        font-family: $f-lovelyn;
                        font-size: 2rem;
                    }

                    &__event {
                        position: absolute;
                        top: 0;
                        right: -16rem;
                        min-width: 15rem;
                        transform: rotate(-35deg); 
                        transform-origin: left;
                        
                        text-align: start;
                        font-size: 1.2rem;
                        font-family: $f-abel;
                    }
                }

                /* Image */
                .question__image {
                    position: relative;
                    width: 50%;
                    text-align: right;
                    
                    img {
                        width: 100%;
                        max-width: 95rem;
                    }
                }
                
            }
        }
    }
}
